.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-direction: column;
    
    @include respond-to('small') {
      flex-direction: row;
      justify-content: center;
    }
  }
  
  .btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;

    @include respond-to('tiny') {
      padding: 0.7rem 1.2rem;
      font-size: 0.9rem;
    }

    @include respond-to('small') {
      width: auto;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
    }
    
    &-primary {
      background-color: $primary;
      color: $black;
      
      &:hover {
        background-color: $primary-hover;
      }
    }
    
    &-secondary {
      background-color: transparent;
      color: $primary;
      border: 2px solid $primary;
      
      &:hover {
        background-color: $primary;
        color: $black;
      }
    }
  }
  
  .explore-link {
    display: block;
    color: $primary;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
    
    &:hover {
      text-decoration: underline;
    }
  }

  
.btn {
    position: relative;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(white, 0.1);
      transform: translateY(100%);
      transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    
   
    &:hover::after {
      transform: translateY(0);
    }
    
    &-primary {
      box-shadow: 0 2px 5px rgba(color(primary), 0.2);
    }
  }



  .btn-neon {
    background: linear-gradient(90deg, $neon-blue, #00d4ff);
    color: #000;
    font-weight: bold;
    border-radius: 2rem;
    transition: all 0.3s ease;
  
    &:hover {
      opacity: 0.9;
      box-shadow: 0 0 10px $neon-blue;
    }
  }
  
  .tab-btn {
    background: none;
    border: none;
    color: #999;
    font-weight: bold;
    margin: 0 1rem;
    padding: 0.5rem;
    &.active {
      color: $neon-blue;
      border-bottom: 2px solid $neon-blue;
    }
  }

// register
.back-btn-floating {
  
  position: absolute;
  top: 8rem;
  left: 40%;
  transform: translateX(-260px); // ajusta este valor al ancho del .auth-box
  color: #ffffff;
  font-size: 2rem;
  background: none;
  border: none;
  box-shadow: none;
  z-index: 10;
  transition: 0.3s ease;
  text-decoration: none;

  &:hover {
    color: #cccccc; // ligero cambio en hover
    transform: translateX(-260px) scale(1.1);
  }

  @media (max-width: 768px) {
    left: 1rem;
    transform: none;
  }
}
