body {
    font-family: $font-main;
    background-color: $black;
    color: $white;
    margin: 0;
    padding: 0;
  }
  
  h1, .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
   
  }
  
  h1 {
    font-size: 1rem;
    font-weight: bold;
    @include respond-to('small') {
        font-size: 0.0001rem;
      }
    
    @include respond-to('medium') {
      font-size: 1.5rem;
    }
    
    @include respond-to('large') {
      font-size: 1.8rem;
    }
  }

  
$font-sizes: (
    base: 1rem,
    small: 0.875rem,
    medium: 1.125rem,
    large: 1.5rem,
    xlarge: 2rem,
    xxlarge: 3rem
  );
  
  h1, h2, h3 {
    font-family: $font-heading;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
  
  h1 {
    font-size: map-get($font-sizes, xxlarge);
    @include respond-to('large') {
      font-size: map-get($font-sizes, xxlarge) * 1.2;
    }
  }
  
  p {
    font-size: map-get($font-sizes, base);
    line-height: 1.6;
    margin-bottom: 1.5rem;
    max-width: 65ch;
  }